@model List<CheeseMVC.Models.CheeseCategory>

<h1>@ViewBag.title</h1>

<ul>
    @foreach(var category in Model)
    {
    <li><a asp-controller="Menu" asp-action="Index">@category.Name</a></li>
    }
    
</ul>
<p></p>
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
<p><a asp-controller="Category" asp-action="Remove">Remove Category</a></p>